/* add variables to change colors, font-sizes, etc that are the same throughout document */
:root {
    --headfoot: rgb(54, 95, 119);
}

* {
    box-sizing: border-box;
}

/* VW will be based on this font-size. Idea for rem and vw for font found at Stack Overflow at t.ly/LIsk*/
html {
    font-size: 10px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: var(--headfoot);
    color: white;
    display: block;
    height: 10%;
}

.title-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* set all font sizes to rem so that they change according to window sizing. 1rem= 10px */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5vw;
    margin-top: 1vw;
    margin-left: 1.5vw;
    margin-bottom: -2vw;
    width: 600px;
}

.header nav ul li {
    margin-right: 4vw;
    margin-bottom: 3vw;
    margin-top: -1vw;
    padding-bottom: 0.05vw;
    padding-top: 1vw;
    list-style-type: none;
}

.header nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 1.6vw;
}

/* Positions navigation header to the right of the page */
.header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* this pseudo class removes underline from link and changes font color upon hover*/
.header nav ul li a:hover {
    text-decoration: none;
    color:darksalmon;
}

.header-image {
    height: 25%;
    width: 100%;
    margin-top: -1vw;
    margin-bottom: -2vw;
    position: relative;
}

/* This allows both the aside and cont-flex containers to remain side-by-side */
main {
    display: flex;
    margin-top: 2vw; 
}

/* aside takes up 15% of the left side of page */
aside {
    flex: 10%;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    font-size: 1.3vw;
    padding: 1vw;
    height: unset;
    border: solid 2px black;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

/* Determines position of aside headers and can be changed to be next to related content */
#abt-me {
    position: relative;
    top: 0px;
}

#wrk {
    position: relative;
    top: 8.2rem;
}

.profile-pic {
    display: block;
    float: left;
}

.profile-pic img {
    height: 15vw;   
}

#cont-me {
    position: relative;
    top: 83.76rem;
}

#res {
    position: relative;
    top: 87.5rem;

}

/* content-flex takes up 85% of the right side of page */
.content-flex {
    flex: 85%;
    flex-wrap: wrap;
    padding: 2rem;
    height: 100%;
    margin-left: 0.05rem;
}

.about div {
    width: 90%;
    height: auto;
    margin-bottom: 8rem;
    display: block;
}

.about div p {
    color:black;
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.5;
}

/* This allows the card containers inside "work" to pair side-by-side */
.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(31, 26, 31);
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    height: 100%;
    width: 48%;
}

/* this pseudo class change the cursor to pointer and border style upon hover*/
.card:hover {
    cursor: pointer;
    border-style: dashed;
}

/* this pseudo class changes the background image opacity upon clicking */
.card:active {
    opacity: 50%;
}

/* background images were found and resized using Canva.com */
#large-card {
    width: 97.3%; 
    background-image: url("../images/img-work1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card2 {
    background-image: url("../images/img-work2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card3 {
    background-image: url("../images/img-work3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card4 {
    background-image: url("../images/img-work4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card5 {
    background-image: url("../images/img-work5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card6 {
    background-image: url("../images/img-work6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#card7 {
    background-image: url("../images/img-work7.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#large-card .work-textblock {
    display: block;
    width:18vw;
    height: 7vw;
    background-color: rgb(185, 124, 124);
    opacity: 95%;
    color: white;
    padding-left: 1rem;
}

.work-textblock {
    display: block;
    width: 18vw;
    height: 7vw;
    background-color: rgb(185, 124, 124);
    opacity: 95%;
    color: white;
    padding-left: 1rem;
}

.work-textblock h3{
    font-size: 1.3vw;
    padding-top: 1.5rem;
    padding-top: 1rem;
    font-weight: bold;
    text-align: left;
}

.work-textblock p {
    font-size: 1vw;
    font-weight: bold;
}

.contact ul {
    width: 44%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.contact ul li {
    display: inline-block;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: underline;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-right: 1px solid black;
    border-left: 1px solid black ;
}

 .contact ul li:hover {
    cursor: pointer;
    color:darksalmon;
}

.resume h3 {
    font-size: 1.7vw;
    text-align: center;
}

.resume p {
    font-size: 1vw;
    text-align: center;
    text-decoration: underline;
}

/* .reveal:hover {
    cursor: pointer;
} */

.reveal:active {
    color: darksalmon;
}

/* add a zoom property later */

.ta-da img {
    width: 98%;
    border: 2px gray solid;
}

.resume .ta-da {
    display: none;
}

/* when user hovers over area, resume image will appear */
.resume:hover .ta-da {
    display: block;
}

footer {
    background-color: var(--headfoot);
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1.5rem;
    padding: 4rem;
    width: 100%;
}

/* Media Query */
@media screen and (max-width: 1306px){

    #large-card{
        width: 45%;
    }

    .card{
        width: 45%
    }

    .work-textblock{
        width: 45%;
    }
}

@media screen and (max-width: 1050px){
    /* #wrk {
        top: 110px;
    }

    #cont-me {
        top: 1142px;
    }

    #res {
        top: 1232px;
    } */

    .card {
        width: 100%;
    }

    #large-card {
        width: 100%
    }

    #large-card .work-textblock {
        width: 40%; 
    }

    .work-textblock {
        width: 40%;
    }
}